

<div class="bgLogin">
  <div *ngIf="formDangKy">
  <form  [formGroup]="formDangKy" class="signup" (ngSubmit)="handleSignUp()" >
    <div class="container">
      <h1>Sign Up</h1>
      <hr>
      <div class="form-group">
        <label><b>Tài Khoản</b></label>
        <input formControlName="taiKhoan" type="text" placeholder="Nhập tài khoản" class="form-control" name="taiKhoan" minlength="6" maxlength="20" >

        <div *ngIf="taiKhoan?.errors?.required  && (taiKhoan?.dirty || taiKhoan?.touched)">
           <!-- kiểm tra rỗng -->
          <div class="alert alert-danger" >Vui lòng nhập tài khoản</div>

          <!-- kiểm tra độ dài -->
          <div class="alert alert-danger" *ngIf="taiKhoan?.errors?.minlength">
            Vui lòng nhập tài khoản có từ 6 đến 20 kí tự
          </div>
      </div>
      </div>

      <div class="form-group">
        <label for="psw"><b>Mật Khẩu</b></label>
        <input formControlName="matKhau" type="password" placeholder="Nhập mật khẩu" class="form-control" name="matKhau"  [pattern]='"^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\\S+$).{6,}$"' maxlength="20" ngModel required >
        <div *ngIf="formDangKy.get('matKhau')?.errors && (formDangKy.get('matKhau')?.dirty || formDangKy.get('matKhau')?.touched)">
          <!-- kiểm tra rỗng -->
         <div class="alert alert-danger" *ngIf="formDangKy.get('matKhau')?.errors?.required" >Vui lòng nhập mật khẩu</div>

         <!-- kiểm tra độ dài -->
        <div class="alert alert-danger"  *ngIf="formDangKy.get('matKhau')?.errors?.pattern">
            Vui lòng nhập phải có ít nhất một in hoa, một kí tự đặt biệt, một số, một chữ và ít nhất có 6 kí tự
         </div>
     </div>
      </div>
      <div class="form-group">
        <label for=""><b>Email</b> </label>
        <input formControlName="email" type="email" name="email"  class="form-control" placeholder="Nhập email" [pattern]='"^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@"
        + "[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$"'  ngModel required>

        <div *ngIf="formDangKy.get('email')?.errors && (formDangKy.get('email')?.touched || formDangKy.get('email')?.dirty)">
          <div class="alert alert-danger" *ngIf="formDangKy.get('email')?.errors?.required">
            Vui lòng nhập email
          </div>
          <div class="alert alert-danger" *ngIf="formDangKy.get('email')?.errors?.pattern">
            Vui lòng nhập đúng định dạng email
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Số điện thoại</label>
        <input formControlName="soDt" type="number" name="soDt" class="form-control" placeholder="Nhập số điện thoại"  ngModel required  >
        <div *ngIf="formDangKy.get('soDt')?.errors && (formDangKy.get('soDt')?.touched || formDangKy.get('soDt')?.dirty)">
          <div class="alert alert-danger" *ngIf="formDangKy.get('soDt')?.errors?.required">
            Vui lòng nhập số điện thoại
          </div>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="">Mã nhóm</label>
        <input type="text" class="form-control" formControlName="maNhom" name="maNhom" value="" placeholder="Nhập mã nhóm">
        <div *ngIf="formDangKy.get('maNhom')?.errors && (formDangKy.get('maNhom')?.touched || formDangKy.get('maNhom')?.dirty)">
          <div class="alert alert-danger" *ngIf="formDangKy.get('maNhom')?.errors?.required">
            Vui lòng nhập mã nhóm
          </div>
        </div>
      </div> -->
      <!-- <div class="form-group">
        <label for="">Mã loại người dùng</label>
        <select formControlName="maLoaiNguoiDung" class="sel" name="maLoaiNguoiDung" required  >
          <option value="" disabled > --Lựa chọn mã loại người dùng--</option>
          <option value="QuanTri">Admin</option>
          <option value="KhachHang">Customer</option>
        </select>
        <div class="alert alert-danger" *ngIf="(formDangKy.get('maLoaiNguoiDung')?.value==''&&(formDangKy.get('maLoaiNguoiDung')?.touched ||formDangKy.get('maLoaiNguoiDung')?.dirty))">
          Vui lòng lựa chọn
        </div>
      </div> -->

      <div class="form-group">
        <label><b>Họ Tên</b></label>
        <input formControlName="hoTen" type="text" placeholder="Nhập họ tên" class="form-control" [pattern]='"^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶ" +
        "ẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợ" +
        "ụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\\s]+$"'  name="hoTen"  required minlength="6" maxlength="20" >

        <div *ngIf="formDangKy.get('hoTen')?.errors && (formDangKy.get('hoTen')?.dirty || formDangKy.get('hoTen')?.touched)">
           <!-- kiểm tra rỗng -->
          <div class="alert alert-danger" *ngIf="formDangKy.get('hoTen')?.errors?.required" >Vui lòng nhập họ tên</div>
          <!-- kiểm tra kí tự chữ -->
          <div class="alert alert-danger" *ngIf="formDangKy.get('hoTen')?.errors?.pattern">
            Vui lòng nhập đúng kí tự chữ
          </div>
      </div>
      </div>

      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

     

      <div class="form-group">

        <button type="submit" class="btn btn-success" [disabled]="!formDangKy.valid"  >Sign Up</button>
      </div>
    </div>
  </form>
</div>
  </div>
<!-- <table class="table">
  <thead>
    <tr>
      <th>Tai khoan</th>
      <th>Mat khau</th>
      <th>Email</th>
      <th>so dien thoai</th>
      <th>maloainguoidung</th>
      <th>ho ten</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of nguoiDangKy" >
      <td >{{member.taiKhoan}}</td>
      <td>{{member.matKhau}}</td>
      <td>{{member.email}}</td>
      <td >{{member.soDT}}</td>
      <td>{{member.maLoaiNguoiDung}}</td>
      <td>{{member.hoTen}}</td>
    </tr>
  </tbody>
  <button>Cap Nhat</button>
</table> -->
