<div class="overlay">
  <img class="anh__demo" [style.background-image]="'url(\''+phim.hinhAnh+'\')'" alt="">
  <div class="hoverImg"></div>
  <!-- Button trigger modal -->
  <button type="button" (click)="phatVideo()" class="noBoder" data-toggle="modal" data-target="#modelId">
    <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
  </button>

  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true"
    (click)="dungVideo()">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe *ngIf="ktra==true, else link" class="embed-responsive-item" [src]="trailer(phim.trailer)"
              allowfullscreen></iframe>
            <ng-template #link> <iframe src=""></iframe></ng-template>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="_rate">
    <p>{{phim.danhGia}}</p>
    <p>
      <ng-container *ngFor="let sao of sao">
        <img *ngIf="sao.link!=null" [src]='sao.link' alt="">
      </ng-container>

    </p>
  </div>

  <button class="btn" (click)="layMaPhim(phim.maPhim)">MUA VÉ </button>

</div>
<div class="noi__dung">
  <p class="trich"><span class="symbol">C18</span>{{phim.tenPhim}}
  </p>
  <p class="hours">100 phút</p>
</div>
