<div class="overlay">
  <img class="anh__demo" [style.background-image]="'url(\''+phim.hinhAnh+'\')'" alt="">
  <div class="hoverImg"></div>
  <!-- <a [href]='phim.trailer'>
    <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
  </a> -->
  <a (click)="phatVideo()" data-toggle="modal" data-target="#modelId">
    <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
  </a>

  <!-- Modal -->






  <div class="_rate">
    <p>{{phim.danhGia}}</p>
    <p>
      <ng-container *ngFor="let sao of sao">
        <img *ngIf="sao.link!=null" [src]='sao.link' alt="">
      </ng-container>

    </p>
  </div>

  <button class="btn" (click)="layMaPhim(phim.maPhim)"> MUA VÉ</button>

</div>
<div class="noi__dung">
  <p class="trich"><span class="symbol">C18</span>{{phim.tenPhim}}
  </p>
  <p class="hours">100p</p>
</div>
