<div class="admin__content" *ngIf="formAddUser">
    <h3 style="text-align: center;">Thêm Người Dùng</h3>
    <form [formGroup]="formAddUser" (ngSubmit)="handleAddUser()">
      <div class="row g-3 admin__input">
        <div class="col">
          <label for="">Tài Khoản</label>
          <input
            type="text"
            class="form-control"
            placeholder="Tài Khoản"
            aria-label="First name"
            formControlName='taiKhoan'
          />
        </div>
        <div class="col">
          <label for="">Email</label>
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            aria-label="Last name"
            formControlName='email'
          />
        </div>
      </div>
      <div class="row g-3 admin__input">
        <div class="col">
          <label for="">Mật Khẩu</label>
          <input
            type="text"
            class="form-control"
            placeholder="Mật Khẩu"
            aria-label="First name"
            formControlName='matKhau'
          />
        </div>
        <div class="col">
          <label for="">Số Điện Thoại</label>
          <input
            type="text"
            class="form-control"
            placeholder="Số Điện Thoại"
            aria-label="Last name"
            formControlName="soDt"
          />
        </div>
      </div>
      <div class="row g-3 admin__input">
        <div class="col">
          <label for="">Họ Tên</label>
          <input
            type="text"
            class="form-control"
            placeholder="Họ Tên"
            aria-label="First name"
            formControlName='hoTen'
          />
        </div>
        <div class="col">
          <label for="">Loại Người Dùng</label>
          <select name="" id="" class="form-control" formControlName='maloaiNguoiDung'>
            <option value="" disabled > --Lựa chọn mã loại người dùng--</option>
            <option value="QuanTri">Quản Trị</option>
            <option value="custom">Custom</option>
          </select>
        </div>
      </div>
      <div class="admin__button">
        <button class="btn btn-success buton__add" type="submit">Thêm</button>
        <!-- <button class="btn btn-info">Lưu</button> -->
      </div>
    </form>
  </div>
