<div id="lichchieu" class="lichchieu d-flex">
  <div class="container">
    <div class="row">
      <div class="nav flex-column nav-pills col-sm-1" id="navdad" role="tablist" aria-orientation="vertical">
        <!-- id nav là: bhd. đích đến là bhd-content. aria-control: bhd-content -->
        <ng-container *ngFor="let rap of heThongRap, let stt=index">
          <a class="nav-link " [id]="idRap[stt].id" data-toggle="pill" [href]="'#'+idRap[stt].id+'-content'" role="tab"
            aria-selected="false" [class.active]="sIndex === stt" (click)="maHeThong(rap.maHeThongRap,stt)">
            <img class="w_50" [src]="rap.logo" alt="">
          </a>
        </ng-container>
      </div>
      <div class="tab-content col-sm-11" id="contentdad">
        <div class="tab-pane fade " [id]="idRap[stt].id+'-content'" role="tabpanel" aria-labelledby="cns"
          *ngFor="let rap of heThongRap, let stt=index" [class.active]="s2Index === stt" [class.show]="s2Index===stt">
          <div class="row">
            <ul class="nav nav-tabs  col-md-5 scroll" id="myTab" role="tablist"
              [class.flex-column]="rap.maHeThongRap=='CineStar'">
              <li class="nav-item" *ngFor="let thongTin of thongTinRap, let stt=index"
                (click)="setIndex(stt,thongTin.maCumRap)">

                <a class="nav-link" id="item-1" data-toggle="tab" [href]="'#item-'+add(stt)+'__content'" role="tab"
                  aria-controls="item-1" aria-selected="true" [class.active]="sIndex===stt">
                  <div [class]="'item-1 my-3'">
                    <div class="container-fluid">
                      <div class="row align-items-center">
                        <div class="left">
                          <img class="w_50"
                            src="https://s3img.vcdn.vn/123phim/2021/01/bhd-star-bitexco-16105952137769.png" alt="">
                        </div>
                        <div class="right ml-2">
                          <div><span class="bhd">{{thongTin.tenCumRap | slice:0:thongTin.tenCumRap.indexOf('-')}}</span>
                            {{thongTin.tenCumRap | slice:thongTin.tenCumRap.indexOf('-')}}</div>
                          <div class="diaChiRap">{{thongTin.diaChi}}</div>
                          <div>[chi tiết]</div>
                        </div>

                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <div class="tab-content col-md-7" id="myTabContent">

              <div class="tab-pane fade" [id]="'#item-'+add(stt)+'__content'" role="tabpanel"
                *ngFor="let thongTin of thongTinRap, let stt=index" [class.active]="s3Index==stt"
                [class.show]="s3Index==stt">
                <ng-container *ngFor="let lichChieu of listLichChieu">
                  <ng-container *ngIf="lichChieu.maCumRap===maCumRap">
                    <div class="item" *ngFor="let phim of lichChieu.danhSachPhim">

                      <div class="info_movie d-flex container-fluid">
                        <div class="row align-items-center">
                          <div class="mr-2 left">
                            <img [src]="phim.hinhAnh" alt="" class="w_50">
                          </div>
                          <div class="right">
                            <div class="title__movie-item">
                              <span class="type-movie-item P">P</span>
                              <span class="name-movie-item">{{phim.tenPhim}}</span>
                            </div>
                            <div class="info_movie-item">
                              100 phút - TIX 9 - IMDb 8
                            </div>


                          </div>


                        </div>
                      </div>

                      <div class="time container-fluid">
                        <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                            <span>20:10</span> ~ 21:50
                          </a>

                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <!-- <div class="item">
                  <div class="info_movie d-flex container-fluid">
                    <div class="mr-2 left">
                      <img
                        src="https://s3img.vcdn.vn/mobile/123phim/2020/12/lua-deu-gap-lua-dao-the-con-heartist-c16-16082739589858_60x60.png"
                        alt="" class="w_50">
                    </div>
                    <div class="right">
                      <div class="title__movie-item">
                        <span class="type-movie-item C16">C16</span>
                        <span class="name-movie-item">Lừa Đểu Gặp Lừa Đảo - The
                          Con-Heartist</span>
                      </div>
                      <div class="info_movie-item mt-1">
                        128 phút - TIX 8.8 - IMDb 0
                      </div>
                    </div>
                  </div>
                  <div class="time container-fluid">
                    <div class="type-watch">
                      <h6>2D Digital</h6>
                      <a href="" class="item btn">
                        <span>20:10</span> ~ 21:50
                      </a>
                      <a href="" class="item btn">
                        <span>21:10</span> ~ 22:50
                      </a>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="info_movie d-flex container-fluid">
                    <div class="mr-2 left">
                      <img src="https://s3img.vcdn.vn/mobile/123phim/2020/12/em-la-cua-em-16091411645152_60x60.png"
                        alt="" class="w_50">
                    </div>
                    <div class="right">
                      <div class="title__movie-item">
                        <span class="type-movie-item C16">C16</span>
                        <span class="name-movie-item">'Em' Là Của Em</span>
                      </div>
                      <div class="info_movie-item mt-1">
                        0 phút - TIX 7.5 - IMDb 0
                      </div>
                    </div>
                  </div>
                  <div class="time container-fluid">
                    <div class="type-watch">
                      <h6>2D Digital</h6>
                      <a href="" class="item btn">
                        <span>20:10</span> ~ 21:50
                      </a>

                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="info_movie d-flex container-fluid">
                    <div class="mr-2 left">
                      <img
                        src="https://s3img.vcdn.vn/mobile/123phim/2021/01/tay-xa-thu-the-marksman-c16-16111970241171_60x60.png"
                        alt="" class="w_50">
                    </div>
                    <div class="right">
                      <div class="title__movie-item">
                        <span class="type-movie-item C16">C16</span>
                        <span class="name-movie-item">Tay Xạ Thủ - The Marksman</span>
                      </div>
                      <div class="info_movie-item mt-1">
                        107 phút - TIX 7.3 - IMDb 0
                      </div>
                    </div>
                  </div>
                  <div class="time container-fluid">
                    <div class="type-watch">
                      <h6>2D Digital</h6>
                      <a href="" class="item btn">
                        <span>20:10</span> ~ 21:50
                      </a>
                      <a href="" class="item btn">
                        <span>21:10</span> ~ 22:50
                      </a>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="info_movie d-flex container-fluid">
                    <div class="mr-2 left">
                      <img
                        src="https://s3img.vcdn.vn/mobile/123phim/2021/01/nam-sinh-so-11-the-child-who-would-not-come-c18-16111996672572_60x60.png"
                        alt="" class="w_50">
                    </div>
                    <div class="right">
                      <div class="title__movie-item">
                        <span class="type-movie-item C16">C16</span>
                        <span class="name-movie-item">Nam Sinh Số 11 - The Child Who Would
                          Not
                          Come</span>
                      </div>
                      <div class="info_movie-item mt-1">
                        88 phút - TIX 8.8 - IMDb 0
                      </div>
                    </div>
                  </div>
                  <div class="time container-fluid">
                    <div class="type-watch">
                      <h6>2D Digital</h6>
                      <a href="" class="item btn">
                        <span>20:10</span> ~ 21:50
                      </a>

                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="info_movie d-flex container-fluid">
                    <div class="mr-2 left">
                      <img
                        src="https://s3img.vcdn.vn/mobile/123phim/2021/01/can-phong-ma-am-stigmatized-properties-c16-16113060341189_60x60.png"
                        alt="" class="w_50">
                    </div>
                    <div class="right">
                      <div class="title__movie-item">
                        <span class="type-movie-item C16">C16</span>
                        <span class="name-movie-item">Căn Phòng Ma Ám - Stigmatized
                          Properties</span>
                      </div>
                      <div class="info_movie-item mt-1">
                        111 phút - TIX 7.5 - IMDb 0
                      </div>
                    </div>
                  </div>
                  <div class="time container-fluid">
                    <div class="type-watch">
                      <h6>2D Digital</h6>
                      <a href="" class="item btn">
                        <span>20:10</span> ~ 21:50
                      </a>
                      <a href="" class="item btn">
                        <span>21:10</span> ~ 22:50
                      </a>
                    </div>
                  </div>
                </div> -->
              </div>
              \

            </div>
          </div>
        </div>
        \
      </div>
    </div>
  </div>
</div>
