<div class="admin__content">
    <h3 style="text-align: center;">Thêm Phim</h3>
    <form>
      <div class="row g-3 admin__input">
        <div class="col">
          <label for="">Mã Phim</label>
          <input
            type="text"
            class="form-control"
            placeholder="Mã Phim"
            aria-label="First name"
          />
        </div>
        <div class="col">
          <label for="">Ngày khởi chiếu</label>
          <input
            type="date"
            class="form-control"
            placeholder="Ngày khởi chiếu"
            aria-label="Last name"
          />
        </div>
      </div>
      <div class="row g-3 admin__input">
        <div class="col">
          <label for="">Tên Phim</label>
          <input
            type="text"
            class="form-control"
            placeholder="Tên Phim"
            aria-label="First name"
          />
        </div>
        <div class="col">
          <label for="">Đánh Giá</label>
          <input
            type="text"
            class="form-control"
            placeholder="Đánh giá"
            aria-label="Last name"
          />
        </div>
      </div>
      <div class="row g-3 admin__input">
        <div class="col">
          <label for="">Trailer</label>
          <input
            type="text"
            class="form-control"
            placeholder="Trailer"
            aria-label="First name"
          />
        </div>
        <div class="col">
          <label for="">Hình Ảnh</label>
          <input
            type="file"
            class="form-control"
            placeholder="Hình Ảnh"
            aria-label="Last name"
          />
        </div>
      </div>
      <div class="admin__moTa">
        <label for="">Mô tả</label>
        <textarea name="" id="" cols="102" rows="5"></textarea>
      </div>
      <div class="admin__button">
        <button class="btn btn-success buton__add">Thêm</button>
        <button class="btn btn-info">Lưu</button>
      </div>
    </form>
  </div>
