<div class="tab-content">
  <div class="tab-pane container active" id="dang-chieu">
      <div id="bo_phim_dang_chieu" class="carousel slide" data-ride="carousel" data-interval="false">

          <!-- Indicators -->
          <ul class="carousel-indicators">
              <li data-target="#bo_phim_dang_chieu" data-slide-to="0" class="active"></li>
              <li data-target="#bo_phim_dang_chieu" data-slide-to="1"></li>
              <li data-target="#bo_phim_dang_chieu" data-slide-to="2"></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="row">
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/chi-muoi-ba-2-16061875740652_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox vbox-item" href="" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>7.4</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C18</span> Chị mười ba: 3 Ngày Sinh Tử (C18)
                              </p>
                              <p class="hours">100 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/lua-deu-gap-lua-dao-the-con-heartist-c16-16082739589858_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox vbox-item" href="https://youtu.be/NWEe2BGhOUA" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>8.8</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C16</span> Lừa Đểu Gặp Lừa Đảo - The Con-Heartist (C16)</p>
                              <p class="hours">128 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="bom__tan" src="../../../../assets/img/film_type_1.png" alt="">
                              <img class="anh__demo" src="../../../../assets/img/tho-san-quai-vat-monster-hunter-c13-16091253467891_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox vbox-item" href="https://youtu.be/puQyZsaTtqY" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>8.8</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C13</span> Thợ Săn Quái Vật - Monster Hunter (C13)</p>
                              <p class="hours">104 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/tay-xa-thu-the-marksman-c16-16111970241171_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/g7LeR7chXVM" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>7.2</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C18</span> Tay Xạ Thủ - The Marksman (C16)
                              </p>
                              <p class="hours">107 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/soul-16032488077578_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/uqAVt13jlr0" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>9</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C18</span> Cuộc Sống Nhiệm Màu-Soul-(P)
                              </p>
                              <p class="hours">100 phút-8 iMDb</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/di-nguyen-bi-an-the-day-i-died-unclose-case-c16-16117355317735_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/FMb0QPgAzBs" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>5.8</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C16</span> Di Nguyện Bí Ẩn - The Day I Died: Unclose Case (C16)</p>
                              <p class="hours">116 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/ban-quy-come-play-c16-16111984751337_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/1ZMmdjgarK8" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>7.5</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C16</span> Bạn Quỷ - Come Play (C16)
                              </p>
                              <p class="hours">96 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/nam-sinh-so-11-the-child-who-would-not-come-c18-16111996672572_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/IMpFu9QvgjM" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>4.3</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C18</span> Nam Sinh Số 11 - The Child Who Would Not Come (C18)</p>
                              <p class="hours">88 phút</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="row">
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/sam-hoi-16105115146337_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/_ffRLhWSPGk" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>5.6</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C18</span> Sám Hối (C18)</p>
                              <p class="hours">99 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/em-la-cua-em-16091411645152_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/9m5HbGDFBrI" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>7.2</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C16</span> 'Em' Là Của Em (C16)</p>
                              <p class="hours">128 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="bom__tan" src="../../../../assets/img/film_type_1.png" alt="">
                              <img class="anh__demo" src="../../../../assets/img/phong-chat-quy-am-host-c18-16098357722892.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/Rwrt45JYdQ8" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>5.3</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">

                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>

                          </div>
                          <div class="noi__dung2">
                              <p class="trich"><span class="symbol">C18</span> Phòng Chat Quỷ Ám - Host (C18)
                              </p>
                              <p class="hours">57 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/cau-vang-c16-16098367707354_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/M4Zn8gumnr8" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>5.7</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C16</span> Cậu Vàng (C16)</p>
                              <p class="hours">96 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/duong-cong-cua-quy-the-cursed-lesson-c18-16105109796358_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/jPIBKT9z8_s" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>5.3</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C18</span> Đường Cong Của Quỷ - The Cursed Lesson (C18)</p>
                              <p class="hours">88 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/thuyen-truong-rang-kiem-va-vien-kim-cuong-ma-thuat-captain-sabertooth-and-the-magic-diamond-p-16105980048686_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/mWR9OGrnaZA" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>7.7</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol2">P</span> Thuyền Trưởng Răng Kiếm và Viên Kim Cương Ma Thuật - Captain Sabertooth and The Magic Diamond (P)
                              </p>
                              <p class="hours">82 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/can-phong-ma-am-stigmatized-properties-c16-16113060341189_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/kEgUgrh2rdA" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>7.5</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C16</span> Căn Phòng Ma Ám - Stigmatized Properties (C16)</p>
                              <p class="hours">111 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/nu-than-chien-binh-1984-wonder-woman-1984-16069039499631_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/Vk-gqL3c5qU" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>6.9</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C13</span> Nữ Thần Chiến Binh 1984 - Wonder Woman 1984 (C13)</p>
                              <p class="hours">100 phút</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item ">
                  <div class="row">
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/doraemon-nobita-va-nhung-ban-khung-long-moi-doraemon-the-movie-nobita-s-new-dinosaurs-p-16074846198854_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/2vdLzk15Z0w" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>8.2</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol2">P</span> Doraemon: Nobita và Những Bạn Khủng Long Mới - Doraemon the Movie: Nobita's New Dinosaurs (P)</p>
                              <p class="hours">110 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/vung-troi-tu-than-horizon-line-16111979462516.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/C-cx_vGVLTA" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>8</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C13</span> Vùng Trời Tử Thần - Horizon Line (C13)</p>
                              <p class="hours">0 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/cuoc-giai-cuu-sinh-tu-redemption-day-c18-16105120605594_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/qZBOe2is_M4" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>5.6</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C18</span> Cuộc Giải Cứu Sinh Tử - Redemption Day (C18)</p>
                              <p class="hours">104 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/dai-dich-cum-the-flu-p-16091268156123_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/_J8F5sEVsQ4" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>8.9</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol2">P</span> Đại Dịch Cúm - The Flu (P)
                              </p>
                              <p class="hours">123 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/thanh-guom-diet-quy-chuyen-tau-vo-tan-demon-slayer-the-movie-mugen-train-p-16063888466666_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/ATJYac_dORw" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>9.1</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C13</span> Thanh Gươm Diệt Quỷ: Chuyến Tàu Vô Tận - Demon Slayer The Movie: Mugen Train (P)</p>
                              <p class="hours">117 phút</p>
                          </div>
                      </div>
                      <div class="col-md-3 hinh__anh">
                          <div class="overlay">
                              <img class="anh__demo" src="../../../../assets/img/nghe-sieu-kho-extreme-job-c18-16074190927361_215x318.png" alt="">
                              <div class="hoverImg"></div>
                              <a class="venobox  vbox-item" href="https://youtu.be/wEunhJFDPuw" data-vbtype="video">
                                  <img class="play__icon" src="../../../../assets/img/play-video.png" alt="">
                              </a>
                              <div class="_rate">
                                  <p>8.9</p>
                                  <p>
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.png" alt="">
                                      <img src="../../../../assets/img/star1.2.png" alt="">
                                  </p>
                              </div>
                              <button class="btn">MUA VÉ</button>
                          </div>
                          <div class="noi__dung">
                              <p class="trich"><span class="symbol">C18</span> Nghề Siêu Khó - Extreme Job (C18)
                              </p>
                              <p class="hours">111 phút</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#bo_phim_dang_chieu" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#bo_phim_dang_chieu" data-slide="next">
              <span class="carousel-control-next-icon"></span>
          </a>

      </div>

  </div>
