<!-- <div class="tab-content">
  <div class="tab-pane container active" id="dang-chieu">
    <div id="bo_phim_dang_chieu" class="carousel slide" data-ride="carousel" data-interval="false">


      <ul class="carousel-indicators">
        <li data-target="#bo_phim_dang_chieu" data-slide-to="0" class="active"></li>
        <li data-target="#bo_phim_dang_chieu" data-slide-to="1"></li>
        <li data-target="#bo_phim_dang_chieu" data-slide-to="2"></li>
      </ul>


      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-3 col-xs-6 hinh__anh" *ngFor="let phim of danhSachPhimDangChieu | slice:0:8 ">
              <app-item-phim-dang-chieu [phim]="phim" (eventURL)="getTrailer($event)"></app-item-phim-dang-chieu>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-3 col-xs-6 hinh__anh" *ngFor="let phim of danhSachPhimDangChieu | slice:9:17 ">
              <app-item-phim-dang-chieu [phim]="phim"></app-item-phim-dang-chieu>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="row">
            <div class="col-md-3 col-xs-6 hinh__anh" *ngFor="let phim of danhSachPhimDangChieu | slice:18:23 ">
              <app-item-phim-dang-chieu [phim]="phim"></app-item-phim-dang-chieu>
            </div>
          </div>
        </div>
      </div>



      <a class="carousel-control-prev" href="#bo_phim_dang_chieu" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#bo_phim_dang_chieu" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>

  </div> -->

<div class="lazy">
  <div class="hinh__anh" *ngFor="let phim of danhSachPhimDangChieu">
    <app-item-phim-dang-chieu [phim]="phim" [ktraexit]="ktra" (existVideo)='exitVideo($event)'
      (countChanged)='countChangedHandler($event)'>
    </app-item-phim-dang-chieu>


  </div>


</div>
<ng-container *ngIf="clip">
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true"
    (click)='dongVideo()'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

        </div>

        <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe *ngIf="ktra==true,else exit" width="560" height="315" [src]="clip |safe:'resourceUrl' "
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <ng-template #exit>
              <iframe src=""></iframe>
            </ng-template>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-container>
