#passwd input{
  border: none !important;
}
#passwd input:disabled {
  background-color: transparent!important;
}

button.update, button.clos{
  float: right;
  margin-right: 5px;
}
.space{
  padding-top: 5%;
}
.modal{
  padding-top: 5%;
}
button.icon{
  border: none;
  background: transparent;
}
