
<div class="container">
  <h1>Thông Tin Cá Nhân</h1>
  <hr>
  <div class="row">
    <div class="col-6">Tài Khoản :</div>
    <div class="col-6">{{userInfo.taiKhoan}}</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">Mật Khẩu :</div>
    <div class="col-6" id="passwd" >
      <input *ngIf="ktra, else ktraSai"  type="password" [value]='userInfo.matKhau' disabled>
      <ng-template #ktraSai>
        <input type="text" [value]="userInfo.matKhau" disabled>
      </ng-template>
      <button class="btn btn-success" (click)="see()">Mat</button>

     </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">Họ Tên :</div>
    <div class="col-6">{{userInfo.hoTen}}</div>

  </div>
  <hr>
  <div class="row">
    <div class="col-6">Email :</div>
    <div class="col-6">{{userInfo.email}}</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">Số Điện Thoại :</div>
    <div class="col-6">{{userInfo.soDT}}</div>
  </div>

  <!-- Button to Open the Modal -->
<button type="button" #btnCapNhat
[attr.data-taiKhoan]="userInfo.taiKhoan"
[attr.data-matKhau]="userInfo.matKhau"
[attr.data-hoTen]="userInfo.hoTen"
[attr.data-email]="userInfo.email"
[attr.data-soDT]="userInfo.soDT"
(click)="capNhat(btnCapNhat)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Cập Nhật Thông Tin
</button>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Cập nhật</h4>
        <a href="/user/personal-information">
        <button type="button" class="close" >&times;</button></a>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div *ngIf="formCapNhat">
        <form [formGroup]="formCapNhat" (ngSubmit)="handleCapNhat()" >
        <div class="form-group">
          <label for="">Họ tên</label>
          <input type="text" formControlName="hoTen" name="hoTen"  class="form-control" placeholder="" >
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" formControlName="email" name="email"  class="form-control" placeholder=""  >
        </div>
        <div class="form-group">
          <label for="">Số Điện Thoại</label>
          <input type="number" formControlName="soDT" name="soDT" class="form-control" placeholder=""  >
        </div>
        <div class="form-group">
          <label for="">Tài Khoản</label>
          <input type="text" formControlName="taiKhoan" name="taiKhoan"  class="form-control" placeholder="" >
        </div>
        <div class="form-group">
          <label for="">Mật Khẩu</label>
          <input type="text" formControlName="matKhau" name="matKhau"  class="form-control" placeholder="" >
        </div>
        <button
        class="btn btn-success"
        type="submit" >Xác nhận</button>
      </form>
    </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

<a href="/user/personal-information" >
        <button type="button" class="btn btn-danger"  >Close</button></a>
      </div>

    </div>
  </div>
</div>
</div>

