.modal-content{
  border: none;
  background: transparent;
  padding-top: 30px;
}
.modal-body{
  width: 150%;
  transform: translate(-17%, 0);
}
.modal-header{
  border: none;
}
.xemTrailer{
  margin: 80px;
}
