 <!-- START carousel header -->
 <div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img class="pic" src="../../../assets/img/lua-deu-gap-lua-dao-16105107337344.jpg" alt="">
          <a class="venobox btn-trailer" href="https://youtu.be/NWEe2BGhOUA" data-vbtype="video">
              <img src="../../../assets/img/play-video.png" alt="">
          </a>
      </div>
      <div class="carousel-item ">
          <img class="pic" src="../../../assets/img/sam-hoi-16106874942953.jpg" alt="">
          <a class="venobox btn-trailer" href="https://youtu.be/_ffRLhWSPGk" data-vbtype="video">
              <img src="../../../assets/img/play-video.png" alt="">
          </a>
      </div>
      <div class="carousel-item pic3">
          <img class="pic" src="../../../assets/img/em-la-cua-em-16106818552756.jpg" alt="">
          <a class="venobox btn-trailer" href="https://youtu.be/9m5HbGDFBrI" data-vbtype="video">
              <img src="../../../assets/img/play-video.png" alt="">
          </a>
      </div>
      <div class="carousel-item pic4">
          <img class="pic" src="../../../assets/img/tho-san-quai-vat-16094165971645.jpg" alt="">
          <a class="venobox btn-trailer" href="https://youtu.be/puQyZsaTtqY" data-vbtype="video">
              <img src="../../../assets/img/play-video.png" alt="">
          </a>
      </div>
      <div class="carousel-item pic5">
          <img class="pic" src="../../../assets/img/chi-13-16088073540614.png" alt="">
          <a class="venobox btn-trailer" href="https://youtu.be/Ncwkodt5dA4" data-vbtype="video">
              <img src="../../../assets/img/play-video.png" alt="">
          </a>
      </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="prev-icon"></span>
  </a>

  <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="next-icon"></span>
  </a>
  <!-- backgroundUnder -->
  <div class="under"></div>
  <div id="tool">
      <div class="row tool__content">
          <div class="col-md-4 phim">
              <div class="list__dropdown">
                  <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle list__tool" href="#" id="navbardrop" data-toggle="dropdown">
                          <span>{{tenPhim}}</span>
                          <img class="dropdown__icon film " src="../../../assets/img/dropdown-icon.png" alt="">
                      </a>
                      <div class="dropdown-menu selectScroll">
                        <div *ngFor="let phim of danhsachPhim">
                          <a class="dropdown-item" (click)="handlePhim(phim.tenPhim)" href="#">{{phim.tenPhim}}</a>
                        </div>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-md-2 cinema">
              <div class="list__dropdown">
                  <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle list__tool" href="#" id="navbardrop" data-toggle="dropdown">
                          <span>Rạp</span>
                          <img class="dropdown__icon rap" src="../../../assets/img/dropdown-icon.png" alt="">
                      </a>
                      <div class="dropdown-menu selectScroll">
                          <a class="dropdown-item" href="#">BHD Star Vincom 3/2</a>
                          <a class="dropdown-item" href="#">BHD Star Vincom Lê Văn Việt</a>
                          <a class="dropdown-item" href="#">BHD Star Vincom Quang Trung</a>
                          <a class="dropdown-item" href="#">BHD Star ‎Phạm Hùng</a>
                          <a class="dropdown-item" href="#">CineStar Hai Bà Trưng</a>
                          <a class="dropdown-item" href="#">CineStar Quốc Thanh</a>
                          <a class="dropdown-item" href="#">DCINE Bến Thành</a>
                          <a class="dropdown-item" href="#">DDC - Đống Đa</a>
                          <a class="dropdown-item" href="#">Lotte Cinema Cantavil</a>
                          <a class="dropdown-item" href="#">Lotte Cinema Cộng Hòa</a>
                          <a class="dropdown-item" href="#">Lotte Cinema Gò Vấp</a>
                          <a class="dropdown-item" href="#">Lotte Cinema Nam Sài Gòn</a>
                          <a class="dropdown-item" href="#">Lotte Cinema Phú Thọ</a>
                          <a class="dropdown-item" href="#">Lotte Cinema Thủ Đức</a>
                          <a class="dropdown-item" href="#">Mega GS Cao Thắng</a>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-md-2 ngay__chieu">
              <div class="list__dropdown">
                  <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle list__tool" href="#" id="navbardrop" data-toggle="dropdown">
                          <span>Ngày xem</span>
                          <img class="dropdown__icon ngay" src="../../../assets/img/dropdown-icon.png" alt="">
                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">
                              <p class="day">Hôm nay</p>
                              <p class="date">2021-01-26</p>
                          </a>
                          <a class="dropdown-item" href="#">
                              <p class="day">Ngày mai</p>
                              <p class="date">2021-01-27</p>
                          </a>
                          <a class="dropdown-item" href="#">
                              <p class="day">Thứ năm</p>
                              <p class="date">2021-01-28</p>
                          </a>
                          <a class="dropdown-item" href="#">
                              <p class="day">Thứ sáu</p>
                              <p class="date">2021-01-29</p>
                          </a>
                          <a class="dropdown-item" href="#">
                              <p class="day">Thứ bảy</p>
                              <p class="date">2021-01-30</p>
                          </a>
                          <a class="dropdown-item" href="#">
                              <p class="day">Chủ nhật</p>
                              <p class="date">2021-01-31</p>
                          </a>
                          <a class="dropdown-item" href="#">
                              <p class="day">Thứ hai</p>
                              <p class="date">2021-02-01</p>
                          </a>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-md-2 xuat__chieu">
              <div class="list__dropdown">
                  <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle list__tool" href="#" id="navbardrop" data-toggle="dropdown">
                          <span>Suất chiếu</span>
                          <img class="dropdown__icon xuat" src="../../../assets/img/dropdown-icon.png" alt="">
                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">
                              18:30
                          </a>
                          <a class="dropdown-item" href="#">
                              20:05
                          </a>
                          <a class="dropdown-item" href="#">
                              22:30
                          </a>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-md-2">
              <button class="btn">MUA VÉ NGAY</button>

          </div>

      </div>

  </div>

</div>
<!-- END carousel header -->

