 <!-- START carousel header -->
 <div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active ">
     <app-item-carousel [movie]="movieCarouselActive"></app-item-carousel>
  </div>
      <div class="carousel-item " *ngFor="let movie of movieCarousel" >
          <app-item-carousel [movie]="movie"></app-item-carousel>
      </div>



  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="prev-icon"></span>
  </a>

  <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="next-icon"></span>
  </a>
  <!-- backgroundUnder -->
  <div class="under"></div>
  <div id="tool">
      <div class="row tool__content">
          <div class="col-md-4 phim">
              <div class="list__dropdown">
                  <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle list__tool" href="#" id="navbardrop" data-toggle="dropdown">
                          <span>{{tenPhim}}</span>
                      </a>
                      <div class="dropdown-menu selectScroll">
                        <ng-container *ngFor="let phim of danhSachPhim">
                          <a class="dropdown-item" (click)="handlePhim(phim.tenPhim,phim.maPhim)">{{phim.tenPhim}}</a>
                        </ng-container>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-md-2 cinema">
              <div class="list__dropdown">
                  <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle list__tool" href="#" id="navbardrop" data-toggle="dropdown">
                          <span>{{tenCumRap}}</span>

                      </a>

                      <div class="dropdown-menu selectScroll" >
                        <ng-container *ngFor="let tenRap of movieInfoList.lichChieu, let stt=index" >
                          <a class="dropdown-item" (click)="handleRap(tenRap.thongTinRap.tenCumRap)">{{tenRap.thongTinRap.tenCumRap}}</a>
                        </ng-container>
                      </div>

                  </div>

              </div>
          </div>
          <div class="col-md-2 ngay__chieu">
              <div class="list__dropdown">
                  <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle list__tool" href="#" id="navbardrop" data-toggle="dropdown">
                          <span>Ngày xem</span>

                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">
                              <p class="day">Hôm nay</p>
                              <p class="date">2021-01-26</p>
                          </a>
                          <a class="dropdown-item" href="#">
                              <p class="day">Ngày mai</p>
                              <p class="date">2021-01-27</p>
                          </a>
                          <a class="dropdown-item" href="#">
                              <p class="day">Thứ năm</p>
                              <p class="date">2021-01-28</p>
                          </a>
                          <a class="dropdown-item" href="#">
                              <p class="day">Thứ sáu</p>
                              <p class="date">2021-01-29</p>
                          </a>
                          <a class="dropdown-item" href="#">
                              <p class="day">Thứ bảy</p>
                              <p class="date">2021-01-30</p>
                          </a>
                          <a class="dropdown-item" href="#">
                              <p class="day">Chủ nhật</p>
                              <p class="date">2021-01-31</p>
                          </a>
                          <a class="dropdown-item" href="#">
                              <p class="day">Thứ hai</p>
                              <p class="date">2021-02-01</p>
                          </a>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-md-2 xuat__chieu">
              <div class="list__dropdown">
                  <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle list__tool" href="#" id="navbardrop" data-toggle="dropdown">
                          <span>Suất chiếu</span>

                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">
                              18:30
                          </a>
                          <a class="dropdown-item" href="#">
                              20:05
                          </a>
                          <a class="dropdown-item" href="#">
                              22:30
                          </a>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-md-2">
              <button class="btn">MUA VÉ NGAY</button>

          </div>

      </div>

  </div>

</div>
<!-- END carousel header -->

