<div id="wrapHome" class="row">
  <div class="col-xs-12 block homeApp">
    <div class="wrapApp">
      <div class="row">
        <div class="col-md-6 text-left text-white left-homeApp">
          <p class="text-p">Ứng dụng tiện lợi dành cho</p>
          <p class="text-p">người yêu điện ảnh</p>
          <br />
          <p class="text-psm">
            Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp và
            đổi quà hấp dẫn.
          </p>
          <button class="btn button">App miễn phí - Tải về ngay!</button>
          <p>
            Tix có 2 phiên bản <a href="@">iOS</a> &
            <a href="@">Androi</a>
          </p>
        </div>
        <div class="col-md-6 right-homeApp">
          <img
            class="img-responsive"
            src="../../../../assets/img/mobile.png"
            alt=""
          />
          <div class="slic-wrap">
            <div class="screen slick-screen">
              <div class="slic-screen">
                <ngx-slick-carousel
                  class="carousel"
                  #slickModal="slick-carousel"
                  [config]="slideConfig"
                >
                  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <img src="{{ slide.img }}" alt="" width="100%" />
                  </div>
                </ngx-slick-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
