<div class="tab-pane container fade" id="sap-chieu">
  <div id="bo_phim_sap_chieu" class="carousel slide" data-ride="carousel" data-interval="false">

      <!-- Indicators -->
      <ul class="carousel-indicators">
          <li data-target="#bo_phim_sap_chieu" data-slide-to="0" class="active"></li>
          <li data-target="#bo_phim_sap_chieu" data-slide-to="1"></li>
          <li data-target="#bo_phim_sap_chieu" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="row">
                  <div class="col-md-3 hinh__anh" *ngFor="let phim of danhSachPhimSapChieu |slice:0:8">
                    <app-item-phim-sap-chieu [phim]="phim" ></app-item-phim-sap-chieu>
                  </div>
             </div>
             </div>

          <div class="carousel-item ">
            <div class="row">
              <div class="col-md-3 hinh__anh" *ngFor="let phim of danhSachPhimSapChieu |slice:9:17">
                <app-item-phim-sap-chieu [phim]="phim" ></app-item-phim-sap-chieu>
              </div>
         </div>
          </div>

          <div class="carousel-item ">
            <div class="row">
              <div class="col-md-3 hinh__anh" *ngFor="let phim of danhSachPhimSapChieu |slice:18:26">
                <app-item-phim-sap-chieu [phim]="phim" ></app-item-phim-sap-chieu>
              </div>
         </div>
          </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#bo_phim_sap_chieu" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#bo_phim_sap_chieu" data-slide="next">
          <span class="carousel-control-next-icon"></span>
      </a>

  </div>
</div>
