<div class="tab-pane container fade" id="sap-chieu">
  <div id="bo_phim_sap_chieu" class="carousel slide" data-ride="carousel" data-interval="false">

      <!-- Indicators -->
      <ul class="carousel-indicators">
          <li data-target="#bo_phim_sap_chieu" data-slide-to="0" class="active"></li>
          <li data-target="#bo_phim_sap_chieu" data-slide-to="1"></li>
          <li data-target="#bo_phim_sap_chieu" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="row">
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/ky-si-cuoi-rong-dragon-rider-p-16091398279162_215x318.png" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox  vbox-item" href="https://youtu.be/H0jn6R1bpcw" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">01/01</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Kỵ Sĩ Cưỡi Rồng - Dragon Rider (P)</p>
                          <p class="hours">92 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/luke-va-chuyen-du-hanh-vuot-thoi-gian-time-traveler-luke-p-16119087817032_215x318.png" alt="">
                          <div class="hoverImg"></div>
                          <div class="gio__chieu">29/01</div>
                          <button class="btn">MUA VÉ</button>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Luke Và Chuyến Du Hành Vượt Thời Gian - Time Traveler Luke (P)</p>
                          <p class="hours">60 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <!-- <img class="bom__tan" src="./../img/film_type_1.png" alt=""> -->
                          <img class="anh__demo" src="./../img/gai-gia-lam-chieu-v-nhung-cuoc-doi-vuong-gia-16069789454519_215x318.png" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox  vbox-item" href="https://youtu.be/krgcyk2rjFc" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">12/02</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Gái Già Lắm Chiêu V - Những Cuộc Đời Vương Giả</p>
                          <p class="hours">0 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/lat-mat-48h-15790616253900_215x318.jpg" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox  vbox-item" href="https://youtu.be/UeyaR8jWl2c" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">12/02</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Lật Mặt: 48h</p>
                          <p class="hours">100 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/nha-kho-quy-am-the-shed-c18-16098376740973_215x318.png" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox  vbox-item" href="https://youtu.be/I_zJHC9tteQ" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">08/01</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol">C18</span> Nhà Kho Quỷ Ám - The Shed (C18)
                          </p>
                          <p class="hours">98 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/sumikkogurashi-hoi-me-xo-xinh-sumikko-gurashi-the-movie-the-unexpected-picture-book-and-the-secret-child-p-16099274316677_215x318.png" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox  vbox-item" href="https://youtu.be/v2mhuK1Vkao" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">08/01</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Sumikkogurashi: Hội Mê Xó Xỉnh - Sumikko Gurashi the Movie: The Unexpected Picture Book and the Secret Child (P)</p>
                          <p class="hours">66 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/song-sinh-ropes-c16-16100085474574_215x318.png" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox  vbox-item" href="https://youtu.be/ZY4vq9SNKKM" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">08/01</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol">C16</span> Song Sinh - Ropes (C16)</p>
                          <p class="hours">87 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/giap-than-gundam-ky-uc-chien-binh-mobile-suit-gundam-narrative-c13-16100969608322_215x318.png" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox  vbox-item" href="https://youtu.be/iE0LDRSKsuo" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">08/01</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol">C13</span> Giáp Thần Gundam: Ký Ức Chiến Binh - Mobile Suit Gundam: Narrative (C13)</p>
                          <p class="hours">88 phút</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item ">
              <div class="row">
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/mien-dat-hua-the-promised-neverland-c16-16105101900047_215x318.png" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox vbox-item" href="https://youtu.be/iuig0XFuH8Y" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">15/01</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol">C16</span> Miền Đất Hứa - The Promised Neverland (C16)</p>
                          <p class="hours">119 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/nam-sinh-so-11-the-child-who-would-not-come-c18-16111996672572_215x318.png" alt="">
                          <div class="hoverImg"></div>

                          <div class="gio__chieu">22/01</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Nam Sinh Số 11</p>
                          <p class="hours">118 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="bom__tan" src="./../img/film_type_1.png" alt="">
                          <img class="anh__demo" src="./../img/trang-ti-16049105870673_215x318.png" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox vbox-item" href="https://youtu.be/sx1ROHCmY-4" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">12/02</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Trạng Tí</p>
                          <p class="hours">100 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/thanh-soi-15825151819587_215x318.jpg" alt="">
                          <div class="hoverImg"></div>

                          <div class="gio__chieu">12/02</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Thanh Sói</p>
                          <p class="hours">100 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/quai-thu-so-chieu-rumble-15827737365485_215x318.jpg" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox  vbox-item" href="https://youtu.be/SftMyiv_wq0" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">12/02</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Quái Thú So Chiêu - Rumble
                          </p>
                          <p class="hours">0 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/eternals-15668741764848_215x318.jpg" alt="">
                          <div class="hoverImg"></div>
                          <div class="gio__chieu">12/02</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Eternals</p>
                          <p class="hours">100 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/bo-gia-16099335513492_215x318.jpg" alt="">
                          <div class="hoverImg"></div>
                          <div class="gio__chieu">12/02</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Bố Già</p>
                          <p class="hours">0 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/tom-jerry-15742365634447_215x318.jpg" alt="">
                          <div class="hoverImg"></div>
                          <div class="gio__chieu">26/02</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Tom & Jerry</p>
                          <p class="hours">100 phút</p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="carousel-item ">
              <div class="row">
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/biet-doi-san-ma-chuyen-kiep-ghostbusters-afterlife-15759470166331_215x318.jpg" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox  vbox-item" href="https://youtu.be/9oK-UrghR7k" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">05/03</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Biệt Đội Săn Ma Chuyển Kiếp - Ghostbusters Afterlife</p>
                          <p class="hours">100 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/raya-and-the-last-dragon-15668824361223_215x318.jpg" alt="">
                          <div class="hoverImg"></div>
                          <div class="gio__chieu">12/03</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Raya and the Last Dragon</p>
                          <p class="hours">100 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/morbius-15740596121893_215x318.jpg" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox  vbox-item" href="https://youtu.be/4L0y99db7j0" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">19/03</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Cuộc Giải Cứu Sinh Tử - Redemption Day (C18)</p>
                          <p class="hours">100 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/thien-than-ho-menh-16098361876920_215x318.png" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox  vbox-item" href="https://youtu.be/Mrl2aZIiNmc" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">19/03</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol">C18</span> Thiên Thần Hộ Mệnh</p>
                          <p class="hours">0 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/the-boss-baby-2-15742374835935_215x318.jpg" alt="">
                          <div class="hoverImg"></div>
                          <div class="gio__chieu">26/03</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> The Boss Baby 2</p>
                          <p class="hours">100 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/em-va-trinh-15813267048692_215x318.jpg" alt="">
                          <div class="hoverImg"></div>
                          <div class="gio__chieu">01/04</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Em và Trịnh</p>
                          <p class="hours">0 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/fast-furious-9-15803709020861_215x318.jpg" alt="">
                          <div class="hoverImg"></div>
                          <a class="venobox  vbox-item" href="https://youtu.be/SwwlFvOwkhA" data-vbtype="video">
                              <img class="play__icon" src="./../img/play-video.png" alt="">
                          </a>
                          <div class="gio__chieu">02/04</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Thiên Thần Hộ Mệnh</p>
                          <p class="hours">100 phút</p>
                      </div>
                  </div>
                  <div class="col-md-3 hinh__anh">
                      <div class="overlay">
                          <img class="anh__demo" src="./../img/ta-nang-phan-dung-15862384755700_215x318.jpg" alt="">
                          <div class="hoverImg"></div>

                          <div class="gio__chieu">21/04</div>
                      </div>
                      <div class="noi__dung2">
                          <p class="trich"><span class="symbol2">P</span> Tà Năng Phan Dũng</p>
                          <p class="hours">100 phút</p>
                      </div>
                  </div>

              </div>
          </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#bo_phim_sap_chieu" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#bo_phim_sap_chieu" data-slide="next">
          <span class="carousel-control-next-icon"></span>
      </a>

  </div>
</div>
