<app-header></app-header>
<div class="bgLogin">

  <form >
    <div class="imgcontainer">
      <img src="../../../assets/img/web-logo.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Tài Khoản</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Mật Khẩu</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit" class="btn btn-success">Đăng Nhập</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Nhớ mật khẩu
      </label>
    </div>
    <div class="dangKy">Bạn chưa có tài khoản ?
      <a routerLink="/sign-up">Đăng Ký</a>
    </div>
  </form>
</div>

