
  <div class="row">
      <ul class="nav nav-tabs flex-column col-md-5" id="myTab" role="tablist">
          <li class="nav-item">
              <a class="nav-link active" id="item-1" data-toggle="tab" href="#item-1__content" role="tab" aria-controls="item-1" aria-selected="true">
                  <div class="item-1 my-3">
                      <div class="container-fluid">
                          <div class="row align-items-center">
                              <div class="left">
                                  <img class="w_50" src="https://s3img.vcdn.vn/123phim/2021/01/bhd-star-bitexco-16105952137769.png" alt="">
                              </div>
                              <div class="right ml-2">
                                  <div><span class="bhd">BHD Star</span> - Bitexco</div>
                                  <div>L3-Bitexco Icon 68, 2 Hải Triều, Q.</div>
                                  <div>[chi tiết]</div>
                              </div>

                          </div>
                      </div>
                  </div>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="item-2" data-toggle="tab" href="#item-2__content" role="tab" aria-controls="profile" aria-selected="false">
                  <div class="item-1 my-3">
                      <div class="container-fluid">
                          <div class="row align-items-center">
                              <div class="left">
                                  <img class="w_50" src="https://s3img.vcdn.vn/123phim/2021/01/bhd-star-vincom-thao-dien-16105955634183.png" alt="">
                              </div>
                              <div class="right ml-2">
                                  <div><span class="bhd">BHD Star</span> - Vincom Thảo Điền</div>
                                  <div>L5-Megamall, 159 XL Hà Nội, Q.2...</div>
                                  <div>[chi tiết]</div>
                              </div>

                          </div>
                      </div>
                  </div>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="item-3" data-toggle="tab" href="#item-3__content" role="tab" aria-controls="contact" aria-selected="false">
                  <div class="item-1 my-3">
                      <div class="container-fluid">
                          <div class="row align-items-center">
                              <div class="left">
                                  <img class="w_50" src="https://s3img.vcdn.vn/123phim/2021/01/bhd-star-vincom-3-2-16105957596860.png" alt="">
                              </div>
                              <div class="right ml-2">
                                  <div><span class="bhd">BHD Star</span> - Phạm Hùng</div>
                                  <div>L4-Satra Phạm Hùng, C6/27 P...</div>
                                  <div>[chi tiết]</div>
                              </div>

                          </div>
                      </div>
                  </div>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="item-4" data-toggle="tab" href="#item-4__content" role="tab" aria-controls="contact" aria-selected="false">
                  <div class="item-1 my-3">
                      <div class="container-fluid">
                          <div class="row align-items-center">
                              <div class="left">
                                  <img class="w_50" src="https://s3img.vcdn.vn/123phim/2021/01/bhd-star-vincom-quang-trung-16105960645760.png" alt="">
                              </div>
                              <div class="right ml-2">
                                  <div><span class="bhd">BHD Star</span>- Vincom Quang Trung</div>
                                  <div>B1-Vincom QT, 190 Quang Trun...</div>
                                  <div>[chi tiết]</div>
                              </div>

                          </div>
                      </div>
                  </div>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="item-5" data-toggle="tab" href="#item-5__content" role="tab" aria-controls="contact" aria-selected="false">
                  <div class="item-1 my-3">
                      <div class="container-fluid">
                          <div class="row align-items-center">
                              <div class="left">
                                  <img class="w_50" src="https://s3img.vcdn.vn/123phim/2021/01/bhd-star-bitexco-16105952137769.png" alt="">
                              </div>
                              <div class="right ml-2">
                                  <div><span class="bhd">BHD Star</span> - Vincom Lê Văn Việt
                                  </div>
                                  <div>L4-Vincom Plaza, 50 Lê Văn Vi</div>
                                  <div>[chi tiết]</div>
                              </div>

                          </div>
                      </div>
                  </div>
              </a>
          </li>
      </ul>

      <div class="tab-content col-md-7" id="myTabContent">

          <div class="tab-pane fade show active" id="item-1__content" role="tabpanel" aria-labelledby="item-1">
              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="row align-items-center">
                          <div class="mr-2 left">
                              <img src="https://s3img.vcdn.vn/mobile/123phim/2020/10/soul-16032488077578_60x60.png" alt="" class="w_50">
                          </div>
                          <div class="right">
                              <div class="title__movie-item">
                                  <span class="type-movie-item P">P</span>
                                  <span class="name-movie-item">Cuộc Sống Nhiệm Màu - Soul
                                      -</span>
                              </div>
                              <div class="info_movie-item">
                                  100 phút - TIX 9 - IMDb 8
                              </div>


                          </div>


                      </div>
                  </div>

                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>

                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2020/12/lua-deu-gap-lua-dao-the-con-heartist-c16-16082739589858_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Lừa Đểu Gặp Lừa Đảo - The
                                  Con-Heartist</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              128 phút - TIX 8.8 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>
                          <a href="" class="item btn">
                              <span>21:10</span> ~ 22:50
                          </a>
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2020/12/em-la-cua-em-16091411645152_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">'Em' Là Của Em</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              0 phút - TIX 7.5 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>

                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2021/01/tay-xa-thu-the-marksman-c16-16111970241171_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Tay Xạ Thủ - The Marksman</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              107 phút - TIX 7.3 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>
                          <a href="" class="item btn">
                              <span>21:10</span> ~ 22:50
                          </a>
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2021/01/nam-sinh-so-11-the-child-who-would-not-come-c18-16111996672572_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Nam Sinh Số 11 - The Child Who Would
                                  Not
                                  Come</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              88 phút - TIX 8.8 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>

                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2021/01/can-phong-ma-am-stigmatized-properties-c16-16113060341189_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Căn Phòng Ma Ám - Stigmatized
                                  Properties</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              111 phút - TIX 7.5 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>
                          <a href="" class="item btn">
                              <span>21:10</span> ~ 22:50
                          </a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="tab-pane fade" id="item-2__content" role="tabpanel" aria-labelledby="item-2">
              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="row align-items-center">
                          <div class="mr-2 left">
                              <img src="https://s3img.vcdn.vn/mobile/123phim/2020/10/soul-16032488077578_60x60.png" alt="" class="w_50">
                          </div>
                          <div class="right">
                              <div class="title__movie-item">
                                  <span class="type-movie-item P">P</span>
                                  <span class="name-movie-item">Cuộc Sống Nhiệm Màu - Soul
                                      -</span>
                              </div>
                              <div class="info_movie-item">
                                  100 phút - TIX 9 - IMDb 8
                              </div>


                          </div>


                      </div>
                  </div>

                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>

                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2020/12/lua-deu-gap-lua-dao-the-con-heartist-c16-16082739589858_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Lừa Đểu Gặp Lừa Đảo - The
                                  Con-Heartist</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              128 phút - TIX 8.8 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>
                          <a href="" class="item btn">
                              <span>21:10</span> ~ 22:50
                          </a>
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2020/12/em-la-cua-em-16091411645152_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">'Em' Là Của Em</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              0 phút - TIX 7.5 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>

                      </div>
                  </div>
              </div>

          </div>

          <div class="tab-pane fade" id="item-3__content" role="tabpanel" aria-labelledby="item-3">
              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2020/12/lua-deu-gap-lua-dao-the-con-heartist-c16-16082739589858_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Lừa Đểu Gặp Lừa Đảo - The
                                  Con-Heartist</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              128 phút - TIX 8.8 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>
                          <a href="" class="item btn">
                              <span>21:10</span> ~ 22:50
                          </a>
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2020/12/em-la-cua-em-16091411645152_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">'Em' Là Của Em</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              0 phút - TIX 7.5 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>

                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2021/01/tay-xa-thu-the-marksman-c16-16111970241171_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Tay Xạ Thủ - The Marksman</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              107 phút - TIX 7.3 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>
                          <a href="" class="item btn">
                              <span>21:10</span> ~ 22:50
                          </a>
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2021/01/nam-sinh-so-11-the-child-who-would-not-come-c18-16111996672572_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Nam Sinh Số 11 - The Child Who Would
                                  Not
                                  Come</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              88 phút - TIX 8.8 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>

                      </div>
                  </div>
              </div>
          </div>

          <div class="tab-pane fade" id="item-4__content" role="tabpanel" aria-labelledby="item-4">
              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="row align-items-center">
                          <div class="mr-2 left">
                              <img src="https://s3img.vcdn.vn/mobile/123phim/2020/10/soul-16032488077578_60x60.png" alt="" class="w_50">
                          </div>
                          <div class="right">
                              <div class="title__movie-item">
                                  <span class="type-movie-item P">P</span>
                                  <span class="name-movie-item">Cuộc Sống Nhiệm Màu - Soul
                                      -</span>
                              </div>
                              <div class="info_movie-item">
                                  100 phút - TIX 9 - IMDb 8
                              </div>


                          </div>


                      </div>
                  </div>

                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>

                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2020/12/lua-deu-gap-lua-dao-the-con-heartist-c16-16082739589858_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Lừa Đểu Gặp Lừa Đảo - The
                                  Con-Heartist</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              128 phút - TIX 8.8 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>
                          <a href="" class="item btn">
                              <span>21:10</span> ~ 22:50
                          </a>
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2020/12/em-la-cua-em-16091411645152_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">'Em' Là Của Em</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              0 phút - TIX 7.5 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>

                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2021/01/tay-xa-thu-the-marksman-c16-16111970241171_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Tay Xạ Thủ - The Marksman</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              107 phút - TIX 7.3 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>
                          <a href="" class="item btn">
                              <span>21:10</span> ~ 22:50
                          </a>
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2021/01/nam-sinh-so-11-the-child-who-would-not-come-c18-16111996672572_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Nam Sinh Số 11 - The Child Who Would
                                  Not
                                  Come</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              88 phút - TIX 8.8 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>

                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2021/01/can-phong-ma-am-stigmatized-properties-c16-16113060341189_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Căn Phòng Ma Ám - Stigmatized
                                  Properties</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              111 phút - TIX 7.5 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>
                          <a href="" class="item btn">
                              <span>21:10</span> ~ 22:50
                          </a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="tab-pane fade" id="item-5__content" role="tabpanel" aria-labelledby="item-5">
              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2021/01/nam-sinh-so-11-the-child-who-would-not-come-c18-16111996672572_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Nam Sinh Số 11 - The Child Who Would
                                  Not
                                  Come</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              88 phút - TIX 8.8 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>

                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="info_movie d-flex container-fluid">
                      <div class="mr-2 left">
                          <img src="https://s3img.vcdn.vn/mobile/123phim/2021/01/can-phong-ma-am-stigmatized-properties-c16-16113060341189_60x60.png" alt="" class="w_50">
                      </div>
                      <div class="right">
                          <div class="title__movie-item">
                              <span class="type-movie-item C16">C16</span>
                              <span class="name-movie-item">Căn Phòng Ma Ám - Stigmatized
                                  Properties</span>
                          </div>
                          <div class="info_movie-item mt-1">
                              111 phút - TIX 7.5 - IMDb 0
                          </div>
                      </div>
                  </div>
                  <div class="time container-fluid">
                      <div class="type-watch">
                          <h6>2D Digital</h6>
                          <a href="" class="item btn">
                              <span>20:10</span> ~ 21:50
                          </a>
                          <a href="" class="item btn">
                              <span>21:10</span> ~ 22:50
                          </a>
                      </div>
                  </div>
              </div>

          </div>

      </div>
  </div>

