<ng-container *ngIf="!loading , else Loading">
  <app-header></app-header>
  <app-carousel-phim [movieCarousel]="movieCarousel"></app-carousel-phim>
  <div class="container">
    <app-loai-phim></app-loai-phim>
  </div>
  <app-cinema-complex-block id="cumRap"></app-cinema-complex-block>
  <app-news-block id="tinTuc"></app-news-block>
  <app-block-app id="ungDung"></app-block-app>
  <app-footer></app-footer>
</ng-container>
<ng-template #Loading>
  
<div id="hieuung8">
  <span class="sk-cube sk-cube1"></span>
  <span class="sk-cube sk-cube2"></span>
  <span class="sk-cube sk-cube3"></span>
  <span class="sk-cube sk-cube4"></span>
  <span class="sk-cube sk-cube5"></span>
  <span class="sk-cube sk-cube6"></span>
  <span class="sk-cube sk-cube7"></span>
  <span class="sk-cube sk-cube8"></span>
  <span class="sk-cube sk-cube9"></span>
</div>
</ng-template>
