<div id="footer">
    <div class="footer-size">
        <div class="col-xs-12">
            <div class="footer-top text-white">
                <div class="row">
                    <div class="col-sm-4 tix col-xs-12">
                        <p class="textform">Tix</p>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6 tix-text">
                                <a href="#">FAQ</a>
                                <a href="#">Brand Guidelines</a>
                            </div>
                            <div class="col-sm-6 col-xs-6 col-md-12 tix-text">
                                <a href="#">Thỏa thuận sử dụng</a>
                                <a href="#">Chính sách bảo mật</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 doiTac">
                        <p class="textform">Đối tác</p>
                        <div class="col-sm-12 icon">
                            <div class="row">
                                <a href="#">
                                    <img src="../../../assets/img/cgv.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/bhd.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/galaxycine.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/cinestar.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/404b8c4b80d77732e7426cdb7e24be20.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-12 icon">
                            <div class="row">
                                <a href="#">
                                    <img src="../../../assets/img/megags.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/bt.jpg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/dongdacinema.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/TOUCH.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/cnx.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-12 icon">
                            <div class="row">
                                <a href="#">
                                    <img src="../../../assets/img/STARLIGHT.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/dcine.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/zalopay_icon.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/payoo.jpg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/VCB.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-12 icon">
                            <div class="row">
                                <a href="#">
                                    <img src="../../../assets/img/AGRIBANK.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/VIETTINBANK.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/IVB.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/123go.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/laban.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mobile">
                        <div class="row">
                            <div class="col-xs-6 icon">
                                <p class="textform">mobile app</p>
                                <a href="#">
                                    <img src="../../../assets/img/apple-logo.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/android-logo.png" alt="">
                                </a>
                            </div>
                            <div class="coll-xs-6 icon">
                                <p class="textform">social</p>
                                <a href="#">
                                    <img src="../../../assets/img/facebook-logo.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/img/zalo-logo.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr-footer">
            <div class="footer-bot">
                <div class="row">
                    <div class="col-sm-1 img-footer">
                        <img class="zion-img" src="../../../assets/img/zion-logo.jpg" alt="">
                    </div>
                    <div class="col-sm-9 text-footer">
                        <p>TIX – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION</p>
                        <span>Địa chỉ: Z06 Đường số 13, Phường Tân Thuận Đông, Quận 7, Tp. Hồ Chí Minh,
                            Việt Nam.</span>
                        <br>
                        <span>Giấy chứng nhận đăng ký kinh doanh số: 0101659783,
                            <br>
                            đăng ký thay đổi lần thứ 30, ngày 22 tháng 01 năm 2020 do Sở kế hoạch và đầu tư
                            Thành phố Hồ Chí Minh cấp.</span>
                        <br>
                        <span>Số Điện Thoại (Hotline): 1900 545 436
                            <br>
                            Email: support@tix.vn</span>
                    </div>
                    <div class="col-sm-2 img-footer">
                        <img class="bct-img" src="../../../assets/img/d1e6bd560daa9e20131ea8a0f62e87f8.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>