<!-- <div class="navss">
  <div class="container">
    <ul class="nav nav-pills muc">
      <li class="nav-item">
        <a class="nav-link lichChieu active" (click)="handleLichChieu()" data-toggle="pill" href="#lich-chieu">Đang
          chiếu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link thongTin" (click)="handleThongTin()" data-toggle="pill" href="#thong-tin">Sắp chiếu</a>
      </li>
      <li>
        <a class="nav-link danhGia" (click)="handleDanhGia()" data-toggle="pill" href="#danh-gia"></a>
      </li>
    </ul>
    <div class="row">
      <div class="col-12" *ngIf="phimDangChieu; else phimSapChieu">
        <app-phim-dang-chieu></app-phim-dang-chieu>
      </div>
      <ng-template #phimSapChieu>
        <div class="col-12">
          <app-phim-sap-chieu></app-phim-sap-chieu>
        </div>
      </ng-template>
    </div> -->
