.hinhPhim img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.rap img{
  width: 40%;
  height: 100px;
  object-fit: cover;
}
.rap{
  display: flex;
}
.diaChi ul li{
  list-style: none;
  padding-left: 20px;
  padding-top: 10px;
}
.thongTin{
  display: flex;
  padding-top: 50px;
}
.dropdown-menu {
  margin-left: 125px;
  top: 0 !important;
   left: 0 !important;
}
.chiTietDat{
  padding: 5px 10px 10px 5px;
}
.ngayDat{
  margin-right: 70px;
  padding-top: 10px;
}
.tenPhim{
  text-align: center;
}
.giaVe{
  padding-top: 6px;
}
@media screen and (max-width:1200px) {
  .dropdown-menu {
    margin:0;
    top: 40px !important;
     left: -20px !important;
  }


}
@media screen and (max-width:992px){
  .ngayDat{
    margin-right: 10px;
    padding-top: 10px;
  }

}
@media screen and (max-width:768px) {
  .diaChi, .thongTin,.chiTiet{
    font-size: 12px;
  }
  .rap img{
    display: none;
  }
  .diaChi ul li{
    padding: 0;
  }
  .thongTin{
    padding: 0;
  }
  .btn-group button, .chiTietDat{
    font-size: 12px;
  }
  .btn-group button{
    height: 34px;
  }
}
